HBK_Atmospheric_Gases/PresentationLayer/Connected Services/ServiceReference1/BusinessLayer.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMDataPublish">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDataPublish" nillable="true" type="tns:MDataPublish" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDataPublish" nillable="true" type="tns:ArrayOfMDataPublish" />
  <xs:complexType name="MDataPublish">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataId" type="xs:int" />
      <xs:element minOccurs="0" name="DataPublishId" type="xs:int" />
      <xs:element minOccurs="0" name="DataValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SensorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDataPublish" nillable="true" type="tns:MDataPublish" />
</xs:schema>