HBK_Atmospheric_Gases/PresentationLayer/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetDataPublishes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataPublishes" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDataPublishes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataPublishesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertSensorData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSensorData" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertSensorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSensorDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetDataPublishes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetDataPublishes" message="tns:IDataService_GetDataPublishes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetDataPublishesResponse" message="tns:IDataService_GetDataPublishes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSensorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/InsertSensorData" message="tns:IDataService_InsertSensorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/InsertSensorDataResponse" message="tns:IDataService_InsertSensorData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataPublishes">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetDataPublishes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSensorData">
      <soap:operation soapAction="http://tempuri.org/IDataService/InsertSensorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceLibrary/DataService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>